.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.tfstate  
.terraform.tfstate.backup
.terraform.tfstate.d    
.terraform.lock.hcl
parent/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.33.0/windows_amd64/terraform-provider-azurerm_v4.33.0_x5.exe 